In [1]:
t = (1,2,3)
type(t)

tuple

In [3]:
t + t

(1, 2, 3, 1, 2, 3)

In [4]:
t * 2

(1, 2, 3, 1, 2, 3)

In [5]:
b = [1,2,3]
b * 2

[1, 2, 3, 1, 2, 3]

In [6]:
t[1] = 5 # 값의 변경이 안된다.

TypeError: 'tuple' object does not support item assignment

In [ ]:
### 프로그램을 작동하는 동안 변경되지 않은 데이터의 저장
### 학번, 이름, 우편번호 등
### 함수의 반환값으로 많이 씀
### 함수의 반환값 등 사용자의 실수에 의한 에러를 사전에 방지

In [7]:
t = (1) # t=1 과 동일
type(t)

int

In [8]:
t = (1,) ## 값이 하나인 tuple 은 반드시 "," 를 붙여야 함
type(t)

tuple